/*
*= require bootstrap
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 
 */

 @import url(http://fonts.googleapis.com/css?family=Roboto);

body  {
  background: url(bgsite4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

            padding-top: 70px;
            font-size: 16px;
    }

    
        

.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      }

.jumbotron{

      background-color: rgba(10, 0, 0, 0.3); no-repeat center center fixed;
   padding: 80px 2em;
  
   }
    .jumbotron h1 {
        font-family:'Roboto', sans-serif;
            font-weight: 500;
            font-size: 58px;
            text-align: center;
            color:#fff;
    }
    .jumbotron h2 {
        font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 30px;
            text-align: center;
           color:#fff;
      
        }
    
.glyphicon.glyphicon-envelope{

font-size: 10px;

}

.btn.btn-primary.btn-md{
  font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 15px;
            text-align: center;
           color:#fff;
}

.help-block.text-center {
font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            text-align: center;
           color:#000;

}

        .margin-base-vertical {
            margin: 40px 0;
        }
