<!DOCTYPE html>
<html>
  <head>

 <title>Media Go</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,100' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
  <body>
<div class="container">
  <div class="row">
   <div class="col-md-6 col-md-offset-3">

    <img src="assets/logo.png" width="161" height="161" class="imgcenter">
<h1>Nos encanta el rock</h1> 
<h3>Sobre todo si es en las calles</h3>
</div>
</div>
  </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>